

    <div class=" perfect-centering">
        <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Enter account number</mat-label>
            <input type="number"  matInput [(ngModel)]="account_number">
        </mat-form-field>
    </div>
        <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Chose action type</mat-label>
            <textarea  matInput [(ngModel)]="type"> </textarea>
        </mat-form-field>
        </div>
        <div class=" row ">
    <mat-form-field class="example-full-width">
        <mat-label>Choose amount</mat-label>
        <input type="number"    matInput [(ngModel)]="amount"> 
    </mat-form-field>
    </div>
    <div class= "row">
    <button type="button" class="btn btn-success" (click)="addNewTask(account_number,type, amount)"  
    >Add</button>
</div>
